<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
That last test was {{ msg }}
<form action="/bloodtest/" method="POST">
    {% csrf_token %}
    <h4>Blood Sugar Level</h4><input type="text" name="bloodsugar"></br>
    <h4>How were you feeling?</h4><input type="text" name="comment">

    {% if user.is_authenticated %}
        <input type="submit" value="save">
    {% else %}
        <input type="submit" value="check">
    {% endif %}
</form>


{% for log in logs %}

    {{ log.date }}
    {{ log.blood_sugar }}
    {{ log.level }}
    {{ log.comment }}

{% endfor %}
</body>
</html>