{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block body %}

    <section id="two" class="section swatch-white">
        <div class="container">
            <div class="row element-normal-top element-normal-bottom">
                <div class="col-md-8 col-md-offset-2">
                    <div align="center"><h3>Clinics</h3>


                        {% for clinic in clinics %}
                            <a href="/clinic_detail/{{ clinic.pk }}">{{ clinic.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    link to doctor detail page#}



{% endblock %}