{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}




 <section id="two" class="section swatch-white">
        <div class="container">
            <div class="row element-normal-top element-normal-bottom">
                <div class="col-md-8 col-md-offset-2">
                    <div align="center">
                        <h4>Login Here:</h4>
                    {% crispy form %}</br></br>

                </div></div>
            </div>
        </div>
    </section>
{% endblock %}